@inherits LayoutComponentBase
@layout MainLayout

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 bg-gray py-3">

                    <a class="text-center font-weight-bold">Welcome @context.User.GetUserName()</a>

                    <hr />
                    <div class="list-group">
                        <NavLink href="admin/manage-categories" class="list-group-item list-group-item-action">Manage Categories</NavLink>
                        <NavLink href="admin/manage-blog-posts" class="list-group-item list-group-item-action">Manage Blog Posts</NavLink>
                        <NavLink href="admin/manage-subscribers" class="list-group-item list-group-item-action">Manage Subscribes</NavLink>
                        <div class="list-group-item list-group-item-action">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@relativeBaseUri" />
                                <button type="submit" class="btn btn-link">Logout</button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    string relativeBaseUri = "";

    protected override void OnInitialized()
    {
        relativeBaseUri = NavigationManager.ToBaseRelativePath(NavigationManager.BaseUri);
    }
}
