@inherits LayoutComponentBase
@layout MainLayout

<AuthorizeView>
    <Authorized>
        <div class="container-fluid" >
            <div class="row" >
                <div class="col-sm-4 col-md-3 col-xl-2 col- bg-gray py-3" style="min-height:calc(100vh - 220px)">

                    <a class="text-center font-weight-bold">Welcome @context.User.GetUserName()</a>

                    <hr />
                    <div class="list-group">
                        <NavLink href="admin/manage-categories" class="list-group-item list-group-item-action">Manage Categories</NavLink>
                        <NavLink href="admin/manage-blog-posts" class="list-group-item list-group-item-action">Manage Blog Posts</NavLink>
                        <NavLink href="admin/manage-subscribers" class="list-group-item list-group-item-action">Manage Subscribes</NavLink>
                        <div class="list-group-item list-group-item-action">
                          <LogoutForm ButtonClasses="btn btn-danger"/>
                        </div>

                    </div>
                </div>
                <div class="col-md-9  col-xl-10 col-sm-8">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
