<div class="container mt-5">
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="row align-items-center justify-content-between">
            <div class="col-12">
                <span class="navbar-brand mr-2"><strong>Blazing Blog</strong></span> Copyright &copy;
                @DateTime.Now.Year.ToString() - Blazing Blog. All rights reserved.
            </div>
            <div class="col">
                Build with <strong>Blazor Net 8</strong> by <a target="_blank" class="text-secondary font-weight-bold" href="mailto:erturkkivanc@gmail.com">Kivanc Erturk</a>.
            </div>
            <div class="col">
                Followed the YouTube tutorial <a target="_blank" class="text-secondary font-weight-bold" href="https://www.youtube.com/watch?v=bqlYviq4J4o">Abhay Prince</a>.
            </div>
            <div class="col">
                Made with <a target="_blank" class="text-secondary font-weight-bold" href="https://www.wowthemes.net/mundana-free-html-bootstrap-template/">Mundana Theme</a> by WowThemes.net.
            </div>
        </div>
    </footer>
</div>